version: "2.1"
services:
  web:
    image: imankulov/community-insights:latest
    build: .
    env_file: ./.env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /credentials/credentials.json
    ports:
      - "127.0.0.1:8000:8000"
    restart: on-failure
    volumes:
      - "./.docker-compose/credentials.json:/credentials/credentials.json:ro"
  postgres:
    image: "postgres:9.6-alpine"
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      POSTGRES_USER: insights
      POSTGRES_PASSWORD: password
      POSTGRES_DB: insights
    volumes:
      - ./.docker-compose/postgres/data:/var/lib/postgresql/data
