# Common Django variables
DEBUG=on
SECRET_KEY=secret
ALLOWED_HOST=*
DATABASE_URL=psql://insights:password@postgres/insights

# Requisites for the meetup.com client
MEETUP_OAUTH_CLIENT_ID=client_id
MEETUP_OAUTH_CLIENT_SECRET=client_secret

# Google Cloud requisites
GOOGLE_APPLICATION_CREDENTIALS=/credentials/credentials.json
BIGQUERY_DATASET_ID=insights

# Admin requisites, used by manage.py create_admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password

# Celery settings
CELERY_BROKER_URL=redis://redis:6379
