Django
psycopg2-binary
django-environ
requests
attrs
dpath
gunicorn
ipython
#jupyter
#pandas
#matplotlib
tqdm
whitenoise
celery[redis]
django-celery-results
django-celery-beat

# Google Cloud libraries
google-cloud-storage
google-cloud-bigquery
